body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: blue;
    text-align: center;
}

#innerbox{
    text-align: left;
    margin: 230px auto 150px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    height: 340px;
    width: 300px;
    display: inline-block;
    margin-right: 50px;
}
#login{
    text-align: left;
    font-size: 200%;
}
#lo{
   border-bottom: 3px solid blue; 
}

/* #enterYourPassword,#enterYourEmail */
#email input,#password input
{
    font-size: 20px;
    border: none;
    border-bottom: 2px solid gray;    
}

#forgotPassword
{
    font-size: 13px;
    margin-left: 25%;
    color: blue;
}

#signUpNow
{
    font-size: 13px;
    color: blue;
}

#rememberMe
{
    margin-top: 3%;
    font-size: 13px;
}

#loginNow{
    margin: 10% 0% 4% 2%;
    padding: 5% 29% 5% 35%;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    background-color: blue;
    
}

#dontHaveAnAccount
{
    text-align: center;
    font-size: 13px;
}

#registration{
    margin-top: 1%;
    text-align: left;
    font-size: 200%;
}
#innerbox2{
    text-align: left;
    margin: 230px auto 150px auto;
    padding: 15px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    display: inline-block;
}

#Re{
    border-bottom: 3px solid blue;
}

#enterYourName , #enterYourCreatePassword 
{
    font-size: 20px;
    border: none;
    border-bottom: 2px solid gray;    
}

#iAcceptAllTermsAndConditions{
    text-align: left;
    font-size: 13px;
    margin-top: 12px;
}

#registerNow{
    text-align: center;
    margin: 5% 0% 4% 0%;
    padding: 5% 25% 5% 35%;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    background-color: blue;
    
}

#alreadyHaveAnAccount
{
    text-align: center;
    font-size: 13px;
}

#loginNowInRegistration
{
    font-size: 13px;
    color: blue;
}