#d1{
    width: 500px;
    font-size: 50px;
    border: 5px solid rgb(218, 56, 56);
    height: 100px;
    padding: 50px;
    margin: 50px;
}
#d2{
    width: 500px;
    font-size: 50px;
    border: 5px solid rgb(218, 56, 56);
    height: 100px;
    padding: 50px;
    margin: 50px 100px 50px 0px;
    box-shadow: 10px 10px 5px 5px maroon;
}
