body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.flash{
    background-color: white;
}