#maindiv{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: blue;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.subDiv{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: rgb(201, 235, 236);
}