#box {
  height: 150px;
  width: 300px;
  background-color: gray;
  border: 5px dotted #000;
  margin: 20px 1em 40px 2em;
  padding: 1em;
}

div {
  height: 100px;
  width: 100px;
  background-color: pink;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
}

li {
  display: inline; /*Li (list items) have their display property set to “list-item” by default which makes them a bulleted list item.*/
}

/* li{
  display: none;
} */

#box1 {
  width: 100px;
  height: 100px;
  background: green;
  transition: width 2s ease-in 0.5s;
}
#box1:hover {
  width: 600px;
}

#box2 {
  width: 100px;
  height: 100px;
  background: red;
  transform: translate(200px, 200px) rotate(90deg);
}

#box3 {
  width: 100px;
  height: 100px;
  background: lightblue;
  transform: skewX(20deg);
}

#box4 {
  width: 100px;
  height: 100px;
  background: lightgreen;
  box-shadow: 2px 2px 5px green;
}
#myPic {
  width: 200px;
  height: 200px;
  background: pink;
  background-image: url("hotelLogo.png");
  background-size: cover;
  opacity: 50%;
}
