/* *{
    margin:0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: "Lora", serif;
    
}
body{
    height: 100vh;
}

.navbar{
    padding: 15px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-house{
        border: 1px solid #000;;
        border-radius: 50%;
        padding: 7px;
        width: 40px;
        background-color: #222222;
        margin-left: 90px;
    }
    
    .searchbar{
        background-color: #222222;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        .fa-magnifying-glass{
            background-color: #222222;
        }
        input{
            background-color: #222222;
            font-size: medium;
            width: 200px;
            border: none;
        }
        .fa-x{
            background-color: #222222;
            font-size: large;
        }
    }
    .lasticon{
        button{
            border: 0px solid #000;
        }
        .a{
            border-radius: 50%;
            padding: 5px 10px;
            border: 5px solid #222222;
        }
    }
}

.main{
    padding: 10px 5px;
    gap: 10px;
    height: 80vh;
    
.sidebar{
    width: 30%;
    border: 0px solid #000;
    border-radius: 10px;
    background-color: #222222;
}
.container{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: #222222;
}
}

.footer{
     padding: 10px 5px;
     width: 100%;
     height: 94px;
     
}
.burger{
    display: none;
}


@media screen and (max-width:920px) 
{
    .lasticon{
        display: none;

    }
    .burger{
        display: flex;
    }
}

@media screen and (max-width:500px) {
    .fa-house{
        display: none;
    }
    
}

@media screen and (max-width:1600px) {
    #search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}
@media screen and (max-width:350px) { 
    
    #search{
        display: none;
    }
 }


#f1{
    display: flex;
    align-items: center;
    font-size: small;
    img{
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0px;
        border-radius: 5px;
    }
    div{
        margin-left: 70px;
        line-height: 0px;
    }
    i{
        border: 1px solid white;
        border-radius: 50%;
        margin-left: 30px;
        font-size: small;
    }
}

#footer{
    display: flex;
    justify-content: space-between;
}
.range{
    width: 350px;

}

#cen2{
    align-items: baseline;
} */

/* basic */
body {
  font-family: "Lora", "sans-serif";
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  background-color: black;
  width: 340px;
  border-radius: 1rem; /* 16px */
  margin-right: 0.5rem;
}
.main-content {
  background-color: #121212;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}
.music-player {
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
a {
  text-decoration: none;
  color: white;
}

/* home library section */
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 8px 12px;
}
.nav-option {
  line-height: 40px;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.nav-option:hover {
  line-height: 40px;
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
}

.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}

/* Library */
.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-option img {
  height: 1.25rem;
  width: 1.25rem;
}

.icons {
  font-size: 1.25rem;
  display: flex;
}

.icons i {
  opacity: 0.7;
  margin-right: 1rem;
}
.icons i:hover {
  opacity: 1;
}
.box {
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.75rem 1rem;
}
.box-p1 {
  font-size: 1rem;
  font-weight: 500;
}
.box-p2 {
  font-size: 0.75rem;
  opacity: 0.9;
}
.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.dark-badge {
  background-color: #000;
  color: white;
}

/* main */
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem  1rem 0;
}
.sticky-nav-icons {
  margin-left: 0.75rem;
}

.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items {
  margin-right: 1rem;
}
 @media (max-width:1000px){
  .hide{
    display: none;
  }
 }