body{
    background-color: rgb(60, 57, 57);
}

h1{
    width: 200px;
    border: 1px solid #000;
}

#out{
    border: 1px solid #000;
    width: 500px;
    height: 50px;
    font-size: 50px;
    #in{ 
        background-color: #0015ff;
        width: 5px;
        height: 50px;
    }
}

#out:hover{
    /* margin-left: 100px; */
    /* transition: margin-left 3s; */
    /* width: 500px; */
    /* transition: width 5s; */
    #in{
        width: 100%;
        background-color: rgb(255, 27, 213);
        transition: width 3s ease-in, background-color 3s ease-in;
    }
}


#out1{
    border: 1px solid #000;
    width: 500px;
    height: 50px;
    #in1{
        height: 50px;
    }
}

#out1:hover{
    #in1{
        animation: myAnimation 2s linear;
    }
}

@keyframes myAnimation {
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: rgb(0, 255, 60);
    }
    100%{
        width: 100%;
        background-color: rgb(144, 0, 255);
    }

}

#d2{
    border: 1px solid #000;
    font-size: xx-large;
    width: 100px;
    height: 50px;
    transform: rotateY(180deg);
    transition: transform 3s ;
}