body{
    background-color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}
#header{
    color: rgb(52, 52, 52);
    background-color: rgb(253, 253, 253);
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 16px 80px;
    top: 0%;
    align-items: center;
    position:sticky;
    div{
        display: flex;
        gap: 15px;
        font-size: 17px;
        align-items: center;
        justify-content: center;

    }
    #signIn{
        font-size: 13px;
    }
    button{
        background-color: black;
        border: 9px solid #000;
        width: 90px;
        height: 40px;
         font-size: 13px;
        /* margin-left: 10px; */
        border-radius: 7px;
        color: aliceblue;
    }
    z-index: 99;
}


#welcome{
    padding: 140px 70px;
    font-size: 23px;
    color: rgb(52, 52, 52);
    display: inline-block;
    position: relative;
    button{
        font-size: 12px;
        width: 150px;
        padding: 16px;
        background-color: #000;
        color: white;
        border-radius: 10px;
    }
}  

#welcome input{
    width: 350px;
    border: 1px solid gray;
    padding: 13px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 8px;
}

#email{
    font-size: 15px;
}

#email input{
   border: 1px solid rgb(160, 160, 160);
}

#Im{
    color: grey;
    font-size: 20px;
}

#Read{
    color: grey;
    font-size: 15px;
}

#image{
    top: 100px;
    left: 53%;
    
    position: absolute;
    display: inline-block;
}

#myAwesomeClients{
    color: #333434;
    text-align: center;
    
}

#netfliximg{
    padding-left: 12%;
}

#my{
    color: #333434;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
#what{
    color: #333434;
    font-size: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#imNot{
    color: rgb(147, 147, 147);
    font-size: 20px;
    text-align: center;
    padding-bottom: 100px;
}

#sixBoxes{
    border-right: 1px solid #000;
    display: grid;
    grid-template-rows: 230px 100px;
    grid-template-columns: 350px 350px 350px;
    gap: 100px;
    padding: 10px;
    justify-content: center;
    h3{
        color: #333434;
        padding-bottom: 15px;
    }
    .subclass{
        color: rgb(147, 147, 147);
        text-align: center ;
    }
}

#myProjects{
    padding-top: 200px;
    color: #333434;
    font-size: 35px;
    display: flex;
    justify-content: center;
}
#whether{
    color: rgb(147, 147, 147);
    font-size: 20px; 
    text-align: center;
    padding-bottom: 100px;
}


#eightBoxes{
    justify-content: center;
    border-right: 1px solid #000;
    display: grid;
    grid-template-rows: 450px 400px;
    grid-template-columns: 340px 340px 340px 340px;
    img{
        width: 300px;
        height: 190px;
        border-radius: 10px;
        justify-content: left;
    }
    .heading{
        color: #181818;
        font-size: 20px;
        padding-bottom: 13px;
    }
    .subtext{
        color: rgb(147, 147, 147);
        
    }
    button{
            border-radius: 10px;
            background-color: black;
            color: white;
            padding: 7px 12px;
            align-items: center; 
            font-size: 12px;
        }
}

#myResume{
    margin: 180px 60px;
    display: flex;
    align-items: center;
    .h1{
        font-size: 35px;
    }
    p{
        margin: 15px 0px;
        color: rgb(147, 147, 147);
    }
    button{
        padding: 12px 23px;
        border: none;
        font-size: 10px;
        background: white;
        border-radius: 5px;
    }
}

#viewMore{
    button:hover{
        background-color: rgb(226, 222, 222);
    }
}

#threeBoxes{
    padding-left: 400px;
    display: inline-block;
    .subBox{
        padding: 10px;
        font-size: 17px;
        span{
            padding-left: 10px;
            color: rgb(147, 147, 147);
        }
        .material-symbols-outlined{
            background: #000;
            color: white;
            font-size: 30px;
            padding: 10px;
            border-radius: 10px;
        }
    }

}

#whatClientsSay{
    padding-top: 40px;
    color: #333434;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

#discover{
    padding: 15px;
    color: rgb(147, 147, 147);
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

#twoBoxes{
    margin: 130px 250px;
    display:inline-block;
    p{
        color: rgb(147, 147, 147);
    }
    .mAD{
        color: #333434;
    }
}
#michael{
     color: #333434;
}
#marketing{
        color: rgb(147, 147, 147);
        font-size: 14px;
        padding-top: 5px;
    }

#imageofkalu{
        display: inline-block;
}

#popularClients{
    padding-top: 100px;
    text-align: center;
    h1{
        padding: 10px;
        color: #333434;
        font-size: 35px;
    }
    img{
        width:1100px;
        height: 200px;
    }
    .contactUs{
        color: #333434;
        font-size: 45px;
        padding-bottom: 15px;
    }
    .popular
    {
         color: rgb(147, 147, 147);        
    }
    
}

#ready
{
    font-size: 20px;    
     color: rgb(147, 147, 147);
}

#box{
    border: 1px solid #000;
    color: black;
    margin: 100px 140px;
    padding:20px;
    height: 460px;
    border-radius: 10px;
    width: 1130px;
    position: relative;
    .in1{
       
        padding: 100px 100px 100px 100px;
        width: 355px;
        border-radius: 10px;
        padding: 60px;
        background-color: #181818;
        color: white;
        display: inline;
        position: absolute;
        height: 340px;
        h3{
            font-size: 20px;
            padding-bottom: 10px;
        }
        p{
            font-size: 15px;
            color: rgb(147, 147, 147);
            
        }
        .material-symbols-outlined
        {
            margin: 10px 0px;  
            
        }
        .dial{
        display: flex;
        font-size: 14px;
        align-items: center;
        }
    }
    .in2
    {
        margin-left: 45%;
        padding: 5px 10px 25px 5px;
        width: 585px;
        border-radius: 10px;
        background-color: #181818;
        color: white;
        display: inline-block;
        position: absolute;
        height: 430px;
        .Name{
            display: grid;
            grid-template-rows: 100px;
            grid-template-columns: 200px 200px;
        }
        formarea {
        margin: 10px 100px;
        textarea {
            border: none;
            border-bottom: 1px solid gray;
        }
        button {
            background: #1a1a1a;
            border: none;
            width: 200px;
            height: 50px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            color: white;
            margin-left: 700px;
        }
      }
        #f3 {
        input {
            border: none;
            border-bottom: 1px solid gray;
            width: 400px;
            height: 30px;
        }
        }
        #fname {
        display: inline-block;
        }
        #fsname {
        display: inline-block;
        }
        #femail {
        margin: 30px 0px;
        }
        .lev {
        font-size: 20px;
        color: rgb(128, 127, 127);
        }
        #frd {
        display: grid;
        grid-template-columns: auto auto auto auto;
        }
        .fradio {
            display: inline-block;
            width: 200px;
            margin: 30px 10px;
            span {
                color: gray;
                font-size: 20px;
            }
            input {
                transform: scale(2.3);
                margin-right: 10px;
                z-index: -10;
            }
            }
        }
    }


#foot {
  width: 90%;
  border-top: 1px solid rgb(225, 219, 219);
  margin: 20px auto;
  display: flex;
  padding: 30px;
  align-items: center;
}
#footData {
  font-size: 20px;
  color: gray;
  margin-right: 450px;
}
.footopt
{
  padding: 20px;
  color: rgb(56, 56, 56);
  font-size: 20px;
}
#subscribe
{
  background: #141414;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  color: white;
}