body{
    background-color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
}
#header{
    color: rgb(52, 52, 52);
    background-color: rgb(253, 253, 253);
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 16px 80px;
    top: 0%;
    align-items: center;
    position:sticky;
    div{
        display: flex;
        gap: 30px;
        font-size: 17px;
        align-items: center;
        justify-content: center;

    }
    #signIn{
        font-size: 13px;
    }
    button{
        background-color: black;
        border: 9px solid #000;
        width: 90px;
        height: 40px;
         font-size: 13px;
        /* margin-left: 10px; */
        border-radius: 7px;
        color: aliceblue;
    }
    z-index: 99;
}

#welcome{
    padding: 140px 70px;
    font-size: 23px;
    color: rgb(52, 52, 52);
    display: inline-block;
    position: relative;
    button{
        font-size: 12px;
        width: 150px;
        padding: 16px;
        background-color: #000;
        color: white;
        border-radius: 10px;
    }
}  

#welcome input{
    width: 350px;
    border: 1px solid gray;
    padding: 13px;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 8px;
}

#email{
    font-size: 15px;
}

#Im{
    color: grey;
    font-size: 20px;
}

#Read{
    color: grey;
    font-size: 15px;
}

#image{
    top: 100px;
    left: 53%;
    position: absolute;
    display: inline-block;
}