#maindiv{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: blue;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-items: center;
}

.subDiv{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: rgb(201, 235, 236);
}